version: "3.8"

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=0.0.0.0
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_SECURE_COOKIE=false
      - WEBHOOK_URL=http://ec2-public-ip:5678/
      - N8N_EDITOR_BASE_URL=http://ec2-public-ip:5678/
      - TZ=Africa/Tunis
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data:
